<!DOCTYPE html>
<html>
  <head>
    <title>Rainbow Bouquets</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Rainbow Bouquets</h1>
    <p>A flower blossoms in it's time</p>
  </body>
</html>
